@model DisplayLocalizationSite.Controllers.UserName
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>LocalizedModel</h2>
        <form asp-controller="Home" asp-action="Create" method="post" coarm="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <ul>
                        <li>Description: @ViewData.ModelMetadata.Properties["FirstName"].Description</li>
                        <li>UIHint: @ViewData.ModelMetadata.Properties["FirstName"].TemplateHint</li>
                    </ul>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <ul>
                        <li>Description: @ViewData.ModelMetadata.Properties["LastName"].Description</li>
                        <li>UIHint: @ViewData.ModelMetadata.Properties["LastName"].TemplateHint</li>
                    </ul>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
